{% extends 'base.html' %}

{% block content %}
<div class="container ">
  <div class="row justify-content-center">
   <h1>Client</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 p-3">
      <table class="border border-dark">
        <thead>
          <tr >
            <th class="border border-dark">Name</th>
            <th class="border border-dark">Last Name</th>
            <th class="border border-dark">IBAN</th>
            <th class="border border-dark">Actions</th>
          </tr>
        </thead>
        <tbody>

        {% for client in object_list %}
          <tr>
            <td class="border border-dark">{{ client.name }}</td>
            <td class="border border-dark">{{ client.last_name }}</td>
            <td class="border border-dark">{{ client.iban }}</td>
            {% if client.user_id == request.user.id %}
            <td>
            <a  href="{% url 'clients_detail'  client.id  %}">details</a>
            <a  href="{% url 'clients_update'  client.id  %}">edit</a>
            <a  href="{% url 'clients_delete'  client.id  %}">delete</a>
            </td>
            {% else %}
            <td>

            </td>
            {% endif %}
          </tr>

        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>
{% endblock %}